:root {
  --ga-green: #007239;
  --ga-dark-link: #000000;
  --ga-light-link: #ffffff;
}

body {
  /* Fixes mobile viewport bug */
  min-height: -webkit-fill-available;
  min-height: 100dvh;
  font-family: Tahoma, sans-serif;
  width: 100dvw;
  margin: 0;
}

html {
  height: -webkit-fill-available;
}

.dark-link:link {
  color: var(--ga-dark-link);
  background-color: transparent;
  text-decoration: none;
}

.dark-link:visited {
  color: var(--ga-dark-link);
  background-color: transparent;
  text-decoration: none;
}

.dark-link:hover {
  color: var(--ga-dark-link);
  background-color: transparent;
  text-decoration: underline;
}

.dark-link:active {
  color: var(--ga-dark-link);
  background-color: transparent;
  text-decoration: underline;
}

.light-link:link {
  color: var(--ga-light-link);
  background-color: transparent;
  text-decoration: none;
}

.light-link:visited {
  color: var(--ga-light-link);
  background-color: transparent;
  text-decoration: none;
}

.light-link:hover {
  color: var(--ga-light-link);
  background-color: transparent;
  text-decoration: underline;
}

.light-link:active {
  color: var(--ga-light-link);
  background-color: transparent;
  text-decoration: underline;
}
h1 {
  font-size: 4em;
  word-wrap: break-word;
white-space: normal;
}
h2 {
  font-size: 2.2em;
  word-wrap: break-word;
white-space: normal;
}
h3 {
  font-size: 2.5em;
  text-align: left;
  margin-left: 1em;
  word-wrap: break-word;
  white-space: normal;
}

.vh {
  height: 100dvh;
}

.white-text {
  color: var(--ga-light-link);
}

.ms-5 {
  flex: 45%;
}
.ms-6 {
  flex: 50%;
}
.ms-7 {
  flex: 55%;
}

.flex {
  display: flex;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image-scale {
  width: 800px;
  max-width: 80%;
  max-height: 100%;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: start;
  overflow: hidden;
}

.image-fill {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.image-right-center {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: 10vw;
}

.image-small {
  width: 10vw;
  min-width: 200px;
}
.page-section {
  width: auto;
  height: 100%;
  display: flex;
}

.page-footer {
  width: auto;
  display: flex;
}

.page-text {
  padding: 2.5em;
  text-align: left;
}

.page-header{
  background-color: #658076; 
  opacity: .95;
  padding: 1rem 0 1rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
}

#header-menu {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pull-left {
  justify-content: start !important;
  margin-left: 10vw;
}

.text-section {
  display: block;
}

.text-footer {
  display: block;
}

.page-text {
  font-size: 2em;
}

.menu-padding {
  padding-top: 5em;
}

#section-1 {
  background-color: var(--ga-green);
}

#section-losningen {
  background-color: #658076;
}

#section-aktiviteter {
  background-color: #934a38;
}

#section-omoss {
  background-color: #658076;
}

#section-footer {
  background-color: #004c6c;
}
#section-7 .fill {
  width: 100%;
}

#supporter-images{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.supporter-image {
  width: 300px;
  max-width: 80%;
}

.support-image-container {
  padding: 10px 15px;
  margin-bottom: 1rem;
  max-width: 80%;
}

.show-on-small-screen{
  display: none;
}

.hide-on-small-screen{
  display: unset;
}

@media only screen and (max-width: 1450px),
            screen and (max-height: 1100px) {
  .vh {
    height: auto;
  }
  .page-text {
    padding: 1em 2em;
  }

  .center-content {
    align-items: start;
  }

  #section-7 .fill {
    flex: auto;
  }
  .page-text {
    font-size: 1.5em;
 }
 
 #section-omoss .image-fill {
  margin-left: -30%;
  object-fit: cover;
}
}

@media only screen and (max-width: 1000px) {
  

  
  .hide-on-small-screen{
    display: none;
  }

  .show-on-small-screen{
    display: unset;
  }

  .page-section {
    flex-wrap: wrap;
    height: auto;
  }

  .page-text {
     font-size: 1.5em;
  }

  #section-1 {
    padding-top: 6dvh;
    height: auto;
  }

  #logo-image {
    max-width: 40vw;
  }

  .fill {
    max-height: 50dvh;
  }
  
  .image-fill {
    object-fit: cover;
  }

  .pull-left {
    margin-left: 0;
  }

  h3 {
    margin-left: 10px;
    margin-block-end: 0;
  }

  .ms-5 {
    flex: 100%;
  }
  .ms-6 {
    flex: 100%;
  }
  .ms-7 {
    flex: 100%;
  }

  #section-footer .image-right-center {
    flex: auto;
    margin-left: 3vw;
  }

  #section-problemet .image-fill {
    margin-top: -30%
  }

  #section-omoss .image-fill {
    margin-top: -60%
  }

  #section-mal .fill {
   align-items: end
  }

  #section-aktivitet-eksempel .fill{
    justify-content: right;
  }
}

@media only screen and (max-width: 450px) {
  .page-footer {
    flex-wrap: wrap;
  }
  .page-text{
    padding: 1em .4em;
    font-size: 1.2em;
  }
  .image-right-center {
    justify-content: center;
  }
  .center-content{
    text-align: left;
  }

  #section-problemet .image-fill {
    margin-top: -80%
  }

  #section-footer .text-section{
    width: 100%;
  }
  #section-footer .page-text {
    text-align: center;
  }

  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.5em;
    margin-left: 0.3m;
  }
}
